body{
    text-align: center;
    
}



#char-creation {
    display: none;
}


#create{
    display: none;
}

#attack{
    display: none;
}

#mage-img, #rouge-img, #knight-img, #ranger-img{
    display: none;
    width: 25%;
    height: 25%;
}