body{
    text-align: center;
    background-color:  #043247;
    color: whitesmoke;
    font-family: monaco,Consolas,Lucida Console,monospace; 
    
}



#char-creation {
    display: none;
}


#create{
    display: none;
}

#attack{
    display: none;
}

#mage-img, #rouge-img, #knight-img, #ranger-img, #monster-img{
    display: none;
    width: 25%;
    height: 25%;
    position: relative;
    
    
    
}

#enemy-display{
    float: right;
    display: none;
}

#char-display{
    display: none;
}

#monster-img{
    transform: rotateY(180deg);
    float: right;
}

